.contacts__title {
  margin: 0;
  margin-bottom: 16px;
  padding-left: 5px;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: var(--dark-gray, #656566);
}

.contacts__address {
  padding-left: 5px;
  font-size: 14px;
  font-style: normal;
}
