.main-navigation {
  display: flex;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 180px 1fr max-content;
    align-items: center;
    gap: 12px;
  }
}

.main-navigation__logo {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    padding: 0 15px;
  }
}
