.menu {
  margin-bottom: 30px;
  padding: 0 5px;

  @media (min-width: $desktop) {
    padding: 0 10px;
  }
}

.menu__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: var(--dark-gray, #656566);

  @media (min-width: $desktop) {
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0.7px;
  }
}

.menu__list {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  column-gap: 32px;
  row-gap: 6px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
    row-gap: 9px;
  }
}

.menu__link {
  font-size: 14px;

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: $desktop) {
    font-size: 16px;
  }
}
