.page-footer {
  padding: 40px 11px 60px;
}

.page-footer__about {
  margin-bottom: 30px;
}

.page-footer__wrapper {
  margin-bottom: 50px;
}

.page-footer__copyright {
  margin-bottom: 0;
  padding-left: 5px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.page-footer__privacy {
  padding-left: 5px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 2px;
}
