:root {
  --light-text: #e4e5ea;
  --black: #0e1014;
  --dark-gray: #656566;
  --button-color: #4077f3;
  --text-gradient: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  --background-gradient: radial-gradient(
    304.35% 148.2% at 3.2% 3.49%,
    rgba(255, 246, 233, 0.1) 0%,
    rgba(26, 29, 35, 0.1) 26.62%,
    rgba(26, 29, 35, 0.1) 52.1%,
    rgba(26, 29, 35, 0.01) 70.17%,
    rgba(26, 29, 35, 0) 100%
  );

  --fist-light: #961a1a;
  --second-light: #833ab4;

  --first-ball-shadow: rgba(223, 125, 125, 0.25);
  --second-ball-shadow: rgba(177, 118, 217, 0.25);
}
