.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100%;
  max-width: 480px;

  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  color: var(--light-text, #e4e5ea);
  background-color: var(--black, #0e1014);

  @media (min-width: $desktop) {
    padding-top: 48px;
    max-width: 1440px;
  }
}

.page__main {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 60px;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: visible;
    margin: 0 auto;
    padding-top: 90px;
    min-width: 1170px;
    max-width: 1170px;
  }
}

.page__main::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: var(--background-gradient), url("../assets/noise.png");
  backdrop-filter: blur(7.5px);
  transition: opacity 2s ease;

  @media (min-width: $desktop) {
    opacity: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  box-sizing: border-box;
  padding: 21px 35px;
  border: none;
  text-align: center;
  background-color: var(--button-color);
  cursor: pointer;

  &:hover,
  &:active {
    opacity: 0.5;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
